ul.chs_tab2_subtab
  li#iphone(onclick="window.open('/uu-dai-moi-ngay/iphone16', '_self'); call_utag_link({'event_category': 'content','event_action': 'tab', 'event_content': 'CP_HW_Iphone'});", category='iphone')
    a(href="/uu-dai-moi-ngay/iphone16")
      img(src!=imageFolder+'/hsbc/chs_icon_subtab_iphone.png')
      | iPhone 16
  li#liveplus(onclick="window.open('/uu-dai-moi-ngay/amthucliveplus', '_self'); call_utag_link({'event_category': 'content','event_action': 'tab', 'event_content': 'CP_HW_Liveplus'});", category='liveplus')
    a(href="/uu-dai-moi-ngay/amthucliveplus")
      img(src!=imageFolder+'/hsbc/chs_icon_subtab_liveplus.png')
      | Ẩm thực Live+
  li(onclick="window.open('/uu-dai-moi-ngay/tat-ca/vn', '_self'); call_utag_link({'event_category': 'content','event_action': 'tab', 'event_content': 'CP_HW_All'});", category='all')
    a(href="/uu-dai-moi-ngay/tat-ca/vn")
      img(src!=imageFolder+'/hsbc/chs_icon_subtab_all.png')
      | Tất cả
  li(onclick="window.open('/uu-dai-moi-ngay/an-uong-giai-tri/vn', '_self'); call_utag_link({'event_category': 'content','event_action': 'tab', 'event_content': 'CP_HW_Dining'});", category='dining')
    a(href="/uu-dai-moi-ngay/an-uong-giai-tri/vn")
      img(src!=imageFolder+'/hsbc/chs_icon_subtab_dining.png')
      | Ăn uống, giải trí
  li(onclick="window.open('/uu-dai-moi-ngay/mua-sam/vn', '_self'); call_utag_link({'event_category': 'content','event_action': 'tab', 'event_content': 'CP_HW_Shopping'});", category='shopping')
    a(href="/uu-dai-moi-ngay/mua-sam/vn")
      img(src!=imageFolder+'/hsbc/chs_icon_subtab_shopping.png')
      | Mua sắm
  li(onclick="window.open('/uu-dai-moi-ngay/du-lich/vn', '_self'); call_utag_link({'event_category': 'content','event_action': 'tab', 'event_content': 'CP_HW_Travel'});", category='travel')
    a(href="/uu-dai-moi-ngay/du-lich/vn")
      img(src!=imageFolder+'/hsbc/chs_icon_subtab_travel.png')
      | Du lịch
  li(onclick="window.open('/uu-dai-moi-ngay/khac/vn', '_self'); call_utag_link({'event_category': 'content','event_action': 'tab', 'event_content': 'CP_HW_Other'});", category='other')
    a(href="/uu-dai-moi-ngay/khac/vn")
      img(src!=imageFolder+'/hsbc/chs_icon_subtab_other.png')
      | Ưu đãi từ Visa và MasterCard
