#chs_footer
  .container
    .row
      .col-sm-6.col-xs-12
        ul.chs_footer_item
          li
            a(href="https://www.hsbc.com.vn/hyperlink-policy/", target='_blank') Chính sách siêu liên kết
          li
            a(href="https://www.hsbc.com.vn/privacy-and-security/", target='_blank') Quyền riêng tư và bảo mật
          li
            a(href="https://www.hsbc.com.vn/terms-of-use/", target='_blank') Điều khoản sử dụng
          li
            a(href="https://www.fatca.hsbc.com/vi-vn/rbwm/vietnam", target='_blank') FATCA
      .col-sm-6.col-xs-12
        p © Bản quyền <script>document.write(new Date().getFullYear());</script> thuộc về Ngân hàng TNHH Một thành viên HSBC (Việt Nam).<br>Tất cả các quyền được bảo hộ.
        p(style="margin-top: 5px !important;") Trang này được thiết kế riêng cho việc sử dụng dịch vụ tại Việt Nam.<br/> <a href="https://www.hsbc.com.vn/legal/cross-border-banking" style="font-size: 14px; text-decoration: underline; color: #ffffff;">Thông báo về giới hạn phạm vi cung cấp dịch vụ qua biên giới</a>