#chs_footer
  .container
    .row
      .col-sm-6.col-xs-12
        ul.chs_footer_item
          li
            a(href="https://www.hsbc.com.vn/en-vn/hyperlink-policy/", target='_blank') Hyperlink policy
          li
            a(href="https://www.hsbc.com.vn/en-vn/privacy-and-security/", target='_blank') Privacy and security
          li
            a(href="https://www.hsbc.com.vn/en-vn/terms-of-use/", target='_blank') Terms of use
          li
            a(href="https://www.fatca.hsbc.com/en/rbwm/vietnam", target='_blank') FATCA
      .col-sm-6.col-xs-12
        p © Copyright. HSBC Bank (Vietnam) Ltd. <script>document.write(new Date().getFullYear());</script>. All rights reserved.
        p(style="margin-top: 5px !important;") This website is designed for use in Vietnam. <a href="https://www.hsbc.com.vn/en-vn/legal/cross-border-banking" style="font-size: 14px; text-decoration: underline; color: #ffffff;">Cross-border disclosure</a>